In [295]:
import pandas as pd
import numpy as np
from collections import *
from itertools import *
import seaborn as sns
import matplotlib.pyplot as plt

In [296]:
content=pd.read_csv('Content.csv')
reactions=pd.read_csv('Reactions.csv')
reaction_type=pd.read_csv('ReactionTypes.csv')

In [297]:
content.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [298]:
print('content.shape',content.shape,'reactions.shape',reactions.shape,'reaction_type.shape',reaction_type.shape,sep='\n')

content.shape
(1000, 6)
reactions.shape
(25553, 5)
reaction_type.shape
(16, 4)

In [299]:
content.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [300]:
reactions.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [301]:
reaction_type.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

## Null Values Check

In [302]:
print('content.isnull().sum()',content.isnull().sum(),'reactions.isnull().sum()',reactions.isnull().sum(),'reaction_type.isnull().sum()',reaction_type.isnull().sum(),sep='\n')

content.isnull().sum()
Unnamed: 0      0
Content ID      0
User ID         0
Type            0
Category        0
URL           199
dtype: int64
reactions.isnull().sum()
Unnamed: 0       0
Content ID       0
User ID       3019
Type           980
Datetime         0
dtype: int64
reaction_type.isnull().sum()
Unnamed: 0    0
Type          0
Sentiment     0
Score         0
dtype: int64

### Common elements between dataframes columns

In [303]:
#checking for common Content Ids
print('Common Content Id values between reactions and content')
len(set(reactions['Content ID'].values) & set(content['Content ID'].values))

Common Content Id values between reactions and content

980

In [304]:
#checking for common Content Ids
print('Common User Id values between reactions and content')
len(set(reactions['User ID'].values) & set(content['User ID'].values))

Common User Id values between reactions and content

446

# Renaming of Columns

In [305]:
content.rename(columns={'Type':'content_type'},inplace=True)

In [306]:
reactions.rename(columns={'Type':'reaction_type'},inplace=True)

In [307]:
reaction_type.rename(columns={'Type':'reaction_type'},inplace=True)

# Dropping unnecessary columns

In [308]:
content.drop(columns=['Unnamed: 0','URL','User ID'],axis=1,inplace=True)

In [309]:
reactions.drop(columns=['Unnamed: 0','User ID'],axis=1,inplace=True)

In [310]:
reaction_type.drop(columns=['Unnamed: 0'],axis=1,inplace=True)

In [311]:
# content=content.dropna()

In [312]:
# content.reset_index(drop=True,inplace=True)

# Null value check and dropping null values rows

In [313]:
content.isnull().sum(),content.dtypes,content.nunique()

(Content ID      0
 content_type    0
 Category        0
 dtype: int64,
 Content ID      object
 content_type    object
 Category        object
 dtype: object,
 Content ID      1000
 content_type       4
 Category          41
 dtype: int64)

In [314]:
reactions.isnull().sum(),reactions.dtypes,reactions.nunique()

(Content ID         0
 reaction_type    980
 Datetime           0
 dtype: int64,
 Content ID       object
 reaction_type    object
 Datetime         object
 dtype: object,
 Content ID         980
 reaction_type       16
 Datetime         25542
 dtype: int64)

In [315]:
reactions=reactions.dropna()

In [316]:
reactions.reset_index(drop=True,inplace=True)

In [317]:
reaction_type.isnull().sum(),reaction_type.dtypes,reaction_type.nunique()

(reaction_type    0
 Sentiment        0
 Score            0
 dtype: int64,
 reaction_type    object
 Sentiment        object
 Score             int64
 dtype: object,
 reaction_type    16
 Sentiment         3
 Score            15
 dtype: int64)

# Merging of DataFrames

In [318]:
# Merging of reactions and content dataframes based on Content Id column
rea_con=pd.merge(reactions,content,on=['Content ID'],how='inner')

In [319]:
# merging of rea_con and reaction_type datframes based on reaction_type column
rea_con_reatype=pd.merge(rea_con,reaction_type,on=['reaction_type'],how='inner')

In [321]:
rea_con_reatype.head()

,Content ID,reaction_type,Datetime,content_type,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,Studying,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,Studying,negative,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-04-09 02:46:20,photo,Studying,negative,0
3,9f737e0a-3cdd-4d29-9d24-753f4e3be810,disgust,2021-03-28 21:15:26,photo,healthy eating,negative,0
4,230c4e4d-70c3-461d-b42c-ec09396efb3f,disgust,2020-08-04 05:40:33,photo,healthy eating,negative,0

In [322]:
rea_con_reatype.to_csv('Cleaned data set.csv')

In [323]:
final_df=rea_con_reatype.groupby('Category')['Score'].sum().sort_values(ascending=False).to_frame().reset_index(drop=False)[:5]

In [324]:
final_df

         Category  Score
0         animals  69548
1  healthy eating  69067
2      technology  67472
3         science  66043
4         cooking  63982